/* Mniej niż 992px */

@media screen and (max-width: 991px) {
    header {
        background-image: url(obrazy/man-1.jpg);
        background-position: center;
        background-size: cover;
        height: 50vh;
        width: auto;
    }
    #text {
        position: absolute;
        top: 50vh;
        padding-left: 20vw;
        padding-right: auto;
        text-align: center;
    }
}


/* Pomiędzy 992px - 1170px  */

@media screen and (min-width: 992px) and (max-width: 1170px) {
    header {
        background-image: url(obrazy/man-2.jpg);
        background-position: top;
        background-size: cover;
        height: 70vh;
        width: auto;
    }
    #text {
        padding-top: 10vh;
        padding-left: 65vw;
        color: #fff;
        font-size: 0.8em;
    }
}




/* Więcej niż 1170px */

@media screen and (min-width: 1171px) {
    header {
        background-image: url(obrazy/man-1.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    #text {
        padding-top: 33vh;
        padding-left: 5vw;
        color: #fff;
    }
}
