body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    background-color: #d1cacc;
    line-height: 1.6em;
}

section > h1 {
    margin-bottom: 40px;
}

section {
    padding: 40px 0;
    background-color: #f9fcfe;
}

strong {
    color: #459c48;
    font-weight: 400;
}

/* ---------------- menu nawigacyjne --------------- */

#main-nav {
    background-color: transparent;
    border: 0;
    transition: all 0.4s;
}

#main-nav.scrolled {
    background-color: rgba(14, 216, 214, 0.85);
}

#main-nav .navbar-collapse .navbar-nav li a {
    color: #FFFFFF;
    transition: all 0.4s;
}

#main-nav .navbar-collapse .navbar-nav li a:hover {
    color: #0ED8D6;
}

#main-nav .navbar-collapse .navbar-nav li a {
    transition: all 0.4s;
}

/*---------------- naglówek ---------------*/

#main-header {
    height: 100vh;
    background: url(../img/header-background.jpg);
    background-size: cover;
    position: relative;
}

#main-header .inner {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

#main-header .inner h1 {
    color: #FFFFFF;
    font-size: 10em;
    font-weight: lighter;
}

#main-header .inner h2 {
    color: #FFFFFF;
    font-size: 2.8em;
    font-weight: lighter;
}

/*------------------ o mnie ---------------------*/

#o-mnie .image-container img {
    height: 300px;
}

#o-mnie h1,
p {
    font-weight: 300;
}

#o-mnie {
    margin-bottom: 5px;
}

/*------------------ umiejetosci ---------------------*/

#umiejetnosci h1 {
    font-weight: 300;
}

#umiejetnosci p {
    padding: 20px;
}

/*------------------ portfolio ---------------------*/

#portfolio {
    background-color: #f7f7f7;
}

#portfolio .single-portfolio-item {
    background-color: #ffffff;
    margin-bottom: 20px;
}

#portfolio .single-portfolio-item .portfolio-image-container {
    height: 380px;
    overflow: hidden;
}

#portfolio .single-portfolio-item .portfolio-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    transition: all 0.4s;
}

#portfolio #portfolio-image-1 {
    background-image: url('../img/portfolio1.jpg');
}

#portfolio #portfolio-image-2 {
    background-image: url('../img/portfolio2.jpg');
}

#portfolio #portfolio-image-3 {
    background-image: url('../img/portfolio3.jpg');
}

#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask {
    background-color: rgba(42, 61, 79, 0.8);
    height: 100%;
    opacity: 0;
    transition: all 0.4s;
    position: relative;
}

#portfolio .single-portfolio-item .portfolio-image:hover .portfolio-image-mask {
    opacity: 1;
}

#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask .fa {
    color: #ffffff;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio .col-md-4 {
    padding: 0;
}

#portfolio .zawartosc-maski {
    color: white;
    position: absolute;
    height: 360px;
    width: 360px;
    border: 1px solid;
    margin 10px;
    top: 50%;
    transform: translateY(-50%);
}
