body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
    line-height: 1.8em;
}

/*------------- menu nawigacyjne ---------------*/

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
}

#main-nav {
    position: fixed;
    text-align: right;
    right: 20px;
    background-color: transparent;
    width: 100%;
}

#main-nav a {
    font-weight: 300;
    color: #1ac056;
    text-decoration: none;
    padding: 10px;
}

#main-nav a:hover {
    color: #291f1a;
}

/*----------------- naglówek -------------------*/

#main-header {
    background: url(../css/img/header-background.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.main-header-content {
    padding: 30vh;
    text-align: center;
    line-height: 0;
}

.main-header-content h1 {
    font-family: 'Roboto';
    font-size: 10em;
    font-weight: lighter;
}

.main-header-content h2 {
    font-weight: 100;
    font-size: 3em;
}

.main-header-content h1 span {
    color: #1ac056;
    font-weight: 500;
}

/* --------- style dla całych sekcji ---------- */

/* ------------------ o mnie ------------------ */

#about h2 {
    text-align: center;
}

#about {
    padding: 0 80px 100px;
    background-color: #f9fcfe;
    overflow: hidden;
}

#about figure img {
    max-height: 350px;
    max-width: 100%;
    border: 15px solid #fff;
    border-radius: 15px;
}

#about figure {
    width: 50%;
    margin: 0;
    float: left;
    text-align: center;
}

#about article {
    width: 50%;
    float: left;
}

/* ------- style dla nagłówków sekcji --------- */

section h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 35px;
    margin-top: 60px;
}

section h2 span {
    color: #1ac056;
    font-weight: 500;
}

/* ------------ moje umiejętności ------------- */

#skills {
    padding: 0 80px 100px;
}

#skills > p {
    text-align: center;
}

#skills figure {
    display: inline-block;
}

#skills-icons {
    text-align: center;
}

#skills h2 {
    text-align: center;
}

/* ---------------- portfolio --------------- */

#portfolio {
    padding: 0 80px 100px;
}

#portfolio h2 {
    text-align: center;
}

#portfolio-item-1 {
    background: url(img/portfolio1.jpg);
}

#portfolio-item-2 {
    background: url(img/portfolio2.jpg);
}

#portfolio-item-3 {
    background: url(img/portfolio4.jpg);
}

.single-portfolio-item {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 33.3333%;
    position: relative;
}

.portfolio-items {
    text-align: center;
    font-size: 0;
}

.single-portfolio-item-mask {
    background: rgba(42, 61, 79, 0.8);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    font-size: initial;
}

.single-portfolio-item-mask:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.single-portfolio-item-mask-content {
    border: 1px solid #fff;
    margin: 10px;
    height: 330px;
    position: relative;
}

.single-portfolio-item-mask-content-inner {
    color: #fff;
}

.single-portfolio-item-mask-content-inner h3,
.single-portfolio-item-mask-content-inner h4 {
    font-weight: 500;
}

.single-portfolio-item-mask-content-inner .fa {
    color: #fff;
    font-size: 2em;
}

.single-portfolio-item-mask-content-inner .fa:hover {
    color: #1ac056;
}

/* ----------------- kontakt ---------------- */

#contact .contact-data,
#contact .contact-form {
    width: 50%;
    float: left;
}

#contact {
    overflow: hidden;
    color: #ffffff;
    background-color: #213b50;
    padding: 0 120px 10px 80px;
}

#contact h2 {
    font-weight: 300;
    font-size: 38px;
}

#contact span {
    color: #1ac056;
    font-weight: 500;
}

#contact #mail {
    color: #1ac056;
}

#contact .contact-social-icons a {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    margin-right: 30px;
    border: 1px solid #ffffff;
    font-size: 22px;
}

#contact .contact-social-icons a:hover {
    color: #213b50;
    border: #213b50;
    background-color: #ffffff;
    transition: all 0.4s;
}

#contact address {
    font-style: normal;
    line-height: 25px;
    margin: 72px 0;

}

#contact form {
    margin-top: 100px;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 0 #2b4a64;
    background-color: #2b4a64;
}

#contact #submit {
    width: auto;
    padding: 15px 30px;
    float: right;
    text-transform: uppercase;
    border: 1px solid #1ac056;
    background-color: #1ac056;
    color: #fff;
    font-weight: 600;
}

#contact #submit:hover {
    color: #1ac056;
    background-color: #fff;
    transition: all 0.4s;
}

#contact input:focus {
    border: 0 #426684;
    background-color: #426684;
}

/* ----------------- footer ---------------- */

footer {
    background-color: #142634;
    color: #fff;
    padding: 0 80px;
}
