body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
    line-height: 1.8em;
}

/*------------- menu nawigacyjne ---------------*/

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
}

#main-nav {
    position: fixed;
    text-align: right;
    right: 20px;
    background-color: transparent;
    width: 100%;
}

#main-nav a {
    font-weight: 300;
    color: #1ac056;
    text-decoration: none;
    padding: 10px;
}

#main-nav a:hover {
    color: #291f1a;
}

/*----------------- naglówek -------------------*/

#main-header {
    background: url(../css/img/header-background.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.main-header-content {
    padding: 30vh;
    text-align: center;
    line-height: 0;
}

.main-header-content h1 {
    font-family: 'Roboto';
    font-size: 10em;
    font-weight: lighter;
}

.main-header-content h2 {
    font-weight: 100;
    font-size: 3em;
}

.main-header-content h1 span {
    color: #1ac056;
    font-weight: 500;
}

/* --------- style dla całych sekcji ---------- */

/* ------------------ o mnie ------------------ */

#about h2 {
    text-align: center;
}

#about {
    padding: 0 80px 450px;
    background-color: #f9fcfe;
}

#about figure img {
    max-height: 350px;
    max-width: 100%;
    border: 15px solid #fff;
    border-radius: 15px;
}

#about figure {
    width: 50%;
    margin: 0;
    float: left;
    text-align: center;
}

#about article {
    width: 50%;
    float: left;
}

/* ------- style dla nagłówków sekcji --------- */

section h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 35px;
    margin-top: 60px;
    text-align: center;
}

section h2 span {
    color: #1ac056;
    font-weight: 500;
}

/* ------------ moje umiejętności ------------- */

#skills {
    padding: 0 80px 100px;
}

#skills > p {
    text-align: center;
}

#skills figure {
    display: inline-block;
}

#skills-icons {
    text-align: center;
}

/* ----------- kontakt lewa kolumna------------ */

/* ----------- kontakt prawa kolumna ---------- */
